In [61]:
import pandas as pd 
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

In [3]:
Ans = df.loc[df['quantity']==3].head()
Ans

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [4]:
Ans = df[df['quantity']==3].head()
Ans

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [5]:
Ans = df.loc[df['quantity']==3].head().reset_index(drop=True)
Ans

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [6]:
Ans = df.loc[df['quantity']==3].head().reset_index()
Ans

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75

In [19]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head()
Ans

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

In [37]:
df[df.item_name.str.contains('Chips')]
# df[df.quantity.isin([2,6])] # 2 와 6인걸 뽑아라 할때
# df[df.item_name.isin(['Chips'])] # only Chips만

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45,4.45
4600,1827,1,Chips and Guacamole,NaN,$4.45,4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45,4.45
4613,1831,1,Chips,NaN,$2.15,2.15
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

In [48]:
new_df = df[(df.item_name=='Steak Salad') |(df.item_name=='Bowl') ]
new_df = new_df.drop_duplicates('item_name',keep='last')

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

In [49]:
df[df.new_price >df.new_price.mean()]

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [69]:
import pandas as pd 
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

In [63]:
df['item_name'][df.item_name =='Izze'] = 'Fizzy Lizzy'
df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [58]:
df.loc[df.item_name =='Izze','item_name'] = 'Fizzy Lizzy'
df.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [70]:
df['item_name'] = df.item_name.replace('Izze','Fizzy Lizzy')
df.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [ ]:
df.head(3)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
dir(MinMaxScaler)
# 전처리 fit_transform 
# 모델은 fit -> predict

In [83]:
mm = MinMaxScaler()
df['quantity_sacler'] = mm.fit_transform(df[['quantity']])

In [ ]:
# import sklearn.preprocessing 
# dir(sklearn.preprocessing)
import sklearn
dir(sklearn)

In [97]:
df.loc['choice_description']

1246

In [114]:
# df.loc[df.item_name =='Izze','item_name'] = 'Fizzy Lizzy'
df.loc[df.choice_description.isnull(),'choice_description'] = 'NoData'

In [115]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,quantity_sacler
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,0.000000
1,1,1,Fizzy Lizzy,[Clementine],$3.39,0.000000
2,1,1,Nantucket Nectar,[Apple],$3.39,0.000000
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,0.000000
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,0.071429

In [120]:
df.loc[df.choice_description.str.contains('Black'),"보여주는컬럼"].head(5)

,order_id,quantity,item_name,choice_description,item_price,quantity_sacler
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,0.071429
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,0.000000
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,0.000000
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,0.000000
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,0.000000

In [ ]:
df.loc[~df.choice_description.str.contains('Vegetables')]

In [132]:
df.loc[df.item_name.str[0] =='N'].head(3)

,order_id,quantity,item_name,choice_description,item_price,quantity_sacler,item_name\t
2,1,1,Nantucket Nectar,[Apple],$3.39,0.0,A
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,0.0,A
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,0.0,A

In [145]:
len(df.item_name[:])

4622

In [154]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [158]:
df.host_name.value_counts().tail(5)

Rhonycs              1
Brandy-Courtney      1
Shanthony            1
Aurore And Jamila    1
Ilgar & Aysel        1
Name: host_name, dtype: int64

In [170]:
a = df.host_name.value_counts().sort_index()
a.head()

'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: host_name, dtype: int64

In [190]:
counts = df.host_name.value_counts()

417

In [197]:
counts_df = pd.DataFrame({'host_name':counts.keys(),'counts':counts}).reset_index(drop=True)
counts_df.head()

      host_name  counts
0       Michael     417
1         David     403
2  Sonder (NYC)     327
3          John     294
4          Alex     279

In [214]:
aa = df.groupby(['neighbourhood_group','neighbourhood'],as_index=False).size().groupby(['neighbourhood_group'],as_index=False).max()
aa.head()

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

In [228]:
Ans = df[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
Ans
# df.groupby(['neighbourhood_group'])['price'].mean()
# df.groupby(['neighbourhood_group'])['price'].var()
# df.groupby(['neighbourhood_group'])['price'].max()
# df.groupby(['neighbourhood_group'])['price'].min()

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

In [ ]:
'''
sklearn

preprocessing
model_selection
ensemble
metrics




'''

In [239]:
import sklearn.ensemble
dir(sklearn.ensemble)

['AdaBoostClassifier',
 'AdaBoostRegressor',
 'BaggingClassifier',
 'BaggingRegressor',
 'BaseEnsemble',
 'ExtraTreesClassifier',
 'ExtraTreesRegressor',
 'GradientBoostingClassifier',
 'GradientBoostingRegressor',
 'HistGradientBoostingClassifier',
 'HistGradientBoostingRegressor',
 'IsolationForest',
 'RandomForestClassifier',
 'RandomForestRegressor',
 'RandomTreesEmbedding',
 'StackingClassifier',
 'StackingRegressor',
 'VotingClassifier',
 'VotingRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_bagging',
 '_base',
 '_forest',
 '_gb',
 '_gb_losses',
 '_gradient_boosting',
 '_hist_gradient_boosting',
 '_iforest',
 '_stacking',
 '_voting',
 '_weight_boosting']